.container{
    padding-top: 1%;
}
.background-image{
    z-index: -1;
    position: absolute;
    top: 0;
}

.about-me {
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
    padding: 20px;
    width: 75%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.about-me label {
    opacity: 100%;
    display: block;
    font-size: 2vw;
    text-align: justify;
    font-family: sans-serif;
    line-height: 4vw;
}

@media (max-width: 960px){
    .about-me {
        background-color: rgba(255,255,255,.1);
    }
    .about-me label{
        font-size: 15px;
        line-height: 5vw;
    }
}