.blogList{
    margin-top: 6vh;
}
.blogList a {
    display: block;
    color: #fff;
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin-bottom: 30px; 
    border-radius: 25px;
}

.blogList a:hover{
    color: #000;
    background-color: #fff;
}

.blogList{
    padding: 30px;
}

.add-blog{ 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    height: 20vh;
}

.add-blog input{
    text-align: center;
    padding: 10px;
    background: none ;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: white;
}
.add-blog input:focus{
    border-color: #FFF;
    border-style: solid;
    background: none ;
    border-radius: 25px;
}

.blog-add-button{
    padding: 10px;
    background: none ;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color:white;
}

.blog-add-button:hover{
    background-color: white ;
    color:black;
    font-weight: bold;
    font-style: italic;
}