input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus{
-webkit-text-fill-color: white;
-webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}
body{                
background: #101010;
font-family: sans-serif;  
}

::selection {
background: #2ecc71;
}


::placeholder {
    color: gray;
    opacity: .8;
  }

.email-form{
	/*width:420px;*/
	/*max-width: 75%;*/
	/*height: 45vh;*/

	width:50vh;
	max-width: 75vw;
	height: 45vh;
	max-height: 90vw;

	background-color:#202020;
	padding: 3vh;
	position: absolute;
	text-align: center;
	left:50%;
	top:50%;
	border-radius: 10px;
	transform: translate(-50%,-50%);
	align-items: center;
}

.email-form label{
	font-size: 5vh;
	max-font-size: 3vw;
	color: white;
	text-transform: uppercase;
	transition:0.3s;
	cursor:default;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
	margin: 3vh 0;
}

.vbox{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
	width: 80%;
	align-items: center;
	margin: auto;
}

.email-form input[type="email"]{
	background:none;
	height: 14%;
	width: 100%;
	border-radius: 24px;
	display:block;
	text-align: center;
	border: solid 2px #FFF;
	outline: none;
	color:white;
	transition:0.3s;
	font-size: 1.6vh;
}
.email-form .message{
	font-family: sans-serif;
	background:none;
	height: 50%;
	width: 100%;
	border-radius: 10px;
	display:block;
	text-align: center;
	border: solid 2px #FFF;
	outline: none;
	color:white;
	transition:0.3s;
	font-size: 1.6vh;
}


.email-form input[type="button"]{
	background:none;
	height: 17%;
	width: 40%;
	border-radius: 24px;
	text-align: center;
	border: solid 2px #FFF;
	outline: none;
	color:white;
	transition:0.3s;
	font-size: 1.6vh;
}

.email-form input[type="button"]:hover{
color: #1a2531;
background-color: #FFF;
transition:0.3s; 
font-style: italic;
font-weight: bold;
}

@media (max-width: 550px){
	.vbox{
		width: 85%;
	}
}
