.footer{
    padding: 100px 0;
    background-color: #181818;;
}

.social-icons-list{
    display: flex;
    justify-content: space-around;
    margin:auto;
    padding: 30px 0;
    list-style-type: none;
    text-align: center;
    width: 250px;
}

.social-icon{
    cursor: pointer;
    margin-right: 15px;
    border-bottom: 1px solid transparent;
    color: #8a8a8a;
    width: 3px;
}

.social-icon a{
    color: #8a8a8a;
    text-decoration: none;
}

.copyright{
    cursor: default;
    color: #8a8a8a;
    margin: auto;
    width: 100px;
    list-style-type: none;
    width: auto;
    text-align: center;
    width: 40vw;
}