input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus{
-webkit-text-fill-color: white;
-webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}
body{
background: #101010;
font-family: sans-serif;
}

::selection {
background: #2ecc71;
}
::placeholder {
    color: gray;
    opacity: .8;
  }
.container{

}

.login-form{
    width:420px;
    max-width: 80%;
    height: 40vh;
    background-color:#202020;
    padding: 3vh;
    position: absolute;
    text-align: center;
    left:50%;
    top:50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    align-items: center;
}

.login-form label{
    font-size: 5vh;
    color: white;
    text-transform: uppercase;
    transition:0.3s;
    cursor:default;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    margin: 3vh 0;
}
.vbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 90%;
    align-items: center;
    margin: auto;
}

.hbox{
    display: flex;
    justify-content: space-between;
    height: 25%;
    width: 85%;
}
.login-form input[type="password"],.login-form input[type="text"]{
    background:none;
    height: 20%;
    width: 8%;
    border-radius: 24px;
    display:block;
    text-align: center;
    border: solid 2px #FFF;
    outline: none;
    color:white;
    transition:0.3s;
}

.login-form input:focus[type="password"],
.login-form input:focus[type="text"]{
    width: 90%;
}

.login-form input[type="submit"],.login-form input[type="button"]{
    background:none;
    height: 100%;
    width: 48%;
    border-radius: 24px;
    text-align: center;
    border: solid 2px #FFF;
    outline: none;
    color:white;
    transition:0.3s;
}
.login-form input[type="submit"]:hover,.login-form input[type="button"]:hover{
    color: #1a2531;
    background-color: #FFF;
    transition:0.3s;
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 550px){
    .login-form{
        width: 80%;
    }
    .login-form input[type="password"],.login-form input[type="text"]{
        width: 80%;
    }
    .login-form input:focus[type="password"],
    .login-form input:focus[type="text"]{
        width: 95%;
    }
    .login-form input[type="submit"],.login-form input[type="button"]{
        width: 46%;
    }
}
