.banner{
    margin: 0 9vw;
}
.banner-header{
    display: flex;
    height: 30vw;
}

.banner-image{
    width: 26%;
    border-radius: 50%;
    margin: auto 0;
}

.banner-name{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: normal;
    margin: auto 50px  auto auto;
}

.banner-intro{
    word-wrap: break-word;
    text-align: right;
    font-weight: normal;
    margin:0;
}

.banner-education{
    font-size: 100%;
    word-wrap: break-word;
}
.banner-details{
    font-size:60%;
    word-wrap: break-word;
}

@media (max-width: 960px){
    .banner-header{
        margin-top: 4vh;
        height: 40vh;
        flex-direction: column;
    }

    .banner-image{
        width: 25vh;
        max-width: 80vw;
        margin: 20px auto auto auto;
    }

    .banner-name{
        margin: auto auto 20px auto;
        font-size: 5vw;
    }
    .banner-intro{
        text-align:center;
        
    }
    .banner-education{
        font-size: 4vw;
        line-height:7vw;
    }
    .banner-details{
        font-size: 2.5vw;
        line-height:4vw;
    }
}
