body{
    /*display: none;*/
    background-color:#101010;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
}
::placeholder {
    color: gray;
    opacity: .8;
  }
.container {    
    display: block;
    opacity: 0;
    min-height: 100vh;
    /* grid-template-columns: 1fr; */
}

label{
    letter-spacing: 2px;
}


@media (max-width: 800px){
    .nav-bar-left{
        width: 100%;
        background-color:#181818 !important; 
        display:flex;
        height: 30%;
        flex-direction:column;
        justify-content: space-around;
        position: absolute;
        vertical-align:bottom;
        align-items:center;
        top:12%;
        left:-50%;
        transform:translateX(-50%);
        transition: left .8s;
        z-index: 1;
    }
    
    .nav-bar-link{
        border:0;
        font-size:120%;
        letter-spacing: 2px; 
    }

    .nav-bar-link:hover{
        border:0;
    }

    .nav-bar-link a{
        padding-bottom: 0;
    }

    .nav-button{
        display:block;
        cursor : pointer;
    }

    .line{
        background-color:white;
        width: 30px;
        height: 2px;
        margin: 5px 0;
    }

    .nav-bar-name a{
        right:50%;
        top: 25px;
        transform:translateX(50%);
        font-size:3vw;
    }
    .social-icons-list{
        width: 40vw;
    }
    .copyright{
        font-size: 2vw;
     }
}



