body{
    background-color:#101010;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
}
::selection {
    background: #2ecc71;
}

::placeholder {
    color: gray;
    opacity: .8;
  }

.container {    
    display: block;
    min-height: 100vh;
    padding-top: 84px;
    box-sizing:border-box;
}


.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-animation {
    border: 8px solid #474747;
    border-radius: 50%;
    border-top: 8px solid #202020;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*.loader > img {*/
/*    width: 100px;*/
/*}*/

.loader.hidden {
    animation: fadeOut .5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

@media (max-width: 800px){
    .container {
        padding-top: 11.2vw;
    }
}


