body{
    background-color:#101010;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
}
::selection {
    background: #2ecc71;
}

::placeholder {
    color: gray;
    opacity: .8;
  }
.container {    
    display: block;
    /*opacity: 0;*/
    min-height: 100vh;
    margin-top: 0;
}

