/* Navigation Bar */
.nav-bar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 30px;
    letter-spacing: 2px;
    background-color:rgba(20,20,20,.5);
    width: 100vw;
    z-index: 1;
    top:0;
}

.nav-button{
    display: none;
}

.nav-bar-left{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.nav-bar-right{
    display: flex;
}
.nav-bar-link{
    margin-right: 15px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-bar-link a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-bar-link a:hover{
    color: white;
}

.active-nav-link a{
    color:white !important;
}
.active-nav-link{
    border-bottom: 1px solid white;
}

@media (max-width: 800px){
    .nav-bar{
        padding: 4vw;
    }

    .nav-bar-left{
        display:flex;
        flex-direction:column;
        position: absolute;
        background-color:#181818 !important;
        width: 100vw;
        align-items: center;
        top:30vh;
        left:-50vw;
        transform:translateX(-50vw);
        transition: left .8s;
        gap: 6vw;
        z-index: 1;
        padding: 6vw 0;
    }

    .nav-bar-link{
        border:0;
        font-size:120%;
        letter-spacing: 2px;
    }

    .nav-bar-link a{
        padding-bottom: 0;
    }

    .nav-button{
        display: flex;
        flex-direction: column;
        cursor : pointer;
        gap: 1vw;
    }

    .line{
        background-color:white;
        width: 5vw;
        height: .4vw;
    }
}
