/* Clear floats after the columns */
.container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.project-container{
    border: 2px solid #191919;
    border-radius:0 0 20px 20px;
    margin-bottom: 30px;
}
.table{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
.table-title{
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    padding:30px;
    background-color: #191919;
}
.row{
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    gap:30px;
    width: 100%;
}
.column {
    display: block;
    width: 100%;
    /*margin-bottom: 3%;*/
}
.available-project{
    border: 2px solid #191919;
    background-color: #191919;
    border-radius:0 0 4% 4%;
}

.cell-image{
    opacity: 0;
    /*margin-bottom: 5%;*/
    width: 100%;
}
.cell-name{
    display: block;
    color: #8a8a8a;
    text-decoration: none;
    text-align: center;
    padding:3%;
}
@media (max-width: 700px){
    .table-title{
        padding: 4%;
    }
    .row{
        flex-direction: column;
    }
    .column {
        /*width: 100%;*/
        /*margin-bottom: 5%;*/
    }
    .unavailable-project{
        display: none;
    }
    .cell-name{
        font-size: 2.5vw;
    }

}