/* Clear floats after the columns */
.container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.table{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.column {
    display: block;
    width: 30%;
    margin-bottom: 3%;
    /*margin-right: 3%;*/
    /*padding-bottom: 2%;*/

}
.available-project{
    border: 3px solid #252525;
    background-color: #252525;
    border-radius:0 0 10px 10px;
}

.cell-image{
    opacity: 0;
    /*margin-bottom: 5%;*/
    width: 100%;

}
.cell-name{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding:3%;
}
.cell-name:hover{
    color: #FFF;
    transition: color 0.5s;
}
@media (max-width: 800px){
    .cell-name{
        font-size: 2.5vw;
    }
    .table{
        margin: 3% 0;
    }
}