/* Clear floats after the columns */
.projects-container{
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    box-sizing:border-box;
}
.project-container{
    border: 3px solid #191919;
    border-radius:0 0 20px 20px;
}
.table{
    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
    width: 100%;
    gap: 3vw;
    padding: 3vw;
}
.table-title{
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding:30px;
    background-color: #191919;
}

.column {
    display: block;
    min-width: 0px;
    border: 2px solid #191919;
    background-color: #191919;
    border-radius:0 0 4% 4%;

    width: calc(25% - 4px - 2.25vw);
}

.cell-image{
    opacity: 100%;
    width: 100%;
}
.cell-name{
    display: block;
    color: #8a8a8a;
    text-decoration: none;
    text-align: center;
    padding:3%;
}

@media (max-width: 1450px){
    .column{
        width: calc(33.33% - 4px - 2vw);
    }
}
@media (max-width: 1000px){
    .column{
        width: calc(50% - 4px - 1.5vw);
    }
}
@media (max-width: 550px){
    .column{
        width: calc(100% - 4px);
    }
}
@media (max-width: 700px){
    .table-title{
        padding: 4%;
    }
    .cell-name{
        font-size: 2.5vw;
    }

}
